<h1>Listing bills</h1>

<table border="0" cellspacing="5" cellpadding="5">
<thead>
	<tr>
		<th><%=order @search, :by => :category %></th>
		<th><%=order @search, :by => :kind %></th>
		<th><%=order @search, :by => :reason %></th>
		<th><%=order @search, :by => :amount %></th>
		<th><%=order @search, :by => :user %></th>
		<th>描述</th>
	</tr>
</thead>
<tbody>
	<% @bills.each do |bill| %>
	  <tr>                       
		<td><%=h(bill.category) %></td>
		<td><%=h(bill.project) %></td>
		<td><%=h(bill.reason) %></td>  
		<td><%=h(bill.amount) %></td>
		<td><%=h(bill.user.login) %></td>
		<td><%=truncate(h(bill.desc),:length => 30) %></td>  
	    <td><%= link_to 'Edit', edit_dashboard_bill_path(bill) %> | <%= link_to 'Destroy', bill, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>   
	<% end %> 
	  <tr>
		<td colspan='2'></td>
		<td colspan='2'>合计: 收入 <%= bill_count(@search.category_equals('收入').all)%> 支出 <%= bill_count(@search.category_equals('支出').all)%></td>
		<td colspan=3></td>
	  </tr>  
</tbody>
</table>                                     

<%= link_to 'New bill', new_dashboard_bill_path %>      
